#wiki-sidebar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    background-color: #ddd;

    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    height: auto;
    width: 20%;
}