html,
body {
    position: relative;
    width: 967px;
    left: 0;
    background: #bdd6ff;
}

h2 {
    color: #fa5a0f;
    font-size: 21px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 14px;
}

#sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #bdd6ff;
    text-align: center;
}